@font-face {
  font-family: 'Edmondsans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Edmondsans-Regular.otf')
}

* {
	padding: 0;
  margin: 0;
}

body {
  font-family: 'Edmondsans', sans-serif;
  background-color: white;
}

h1 {

}

#map {
  right: 0px;
  left: 0;
  height: 100%;
  position: absolute;
}

body, a, a:visited {
  color: white;
}