@font-face {
  font-family: 'Edmondsans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Edmondsans-Regular.otf')
}

* {
	padding: 0;
  margin: 0;
}

body {
  font-family: 'Edmondsans', sans-serif;
  background-color: white;
}

h1, h2 {
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
}

#map {
  right: 400px;
  left: 0;
  height: 100%;
  bottom: 0;
  position: absolute;
}

#sidebar {
  right: 0px;
  width: 400px;
  height: 100%;
  bottom: 0;
  position: absolute;
  overflow: scroll;
}

#wrapper {
  padding: 20px;
}

body, a, a:visited {
  color: black;
}